# jinja2 .env file
# during configuration, ansible will pull this file to generate a proper .env

DJANGO_SETTINGS_MODULE="catchpy.settings.{{ catchpy_env | default('dev') }}"

CATCHPY_DJANGO_SECRET_KEY="{{ catchpy_django_secret_key | default('dummy') }}"
CATCHPY_STATIC_ROOT="{{ catchpy_static_root }} | default('/var/www/html') }}"

# return Catchpy WebAnnotation, unless request header says otherwise
CATCHPY_COMPAT_MODE="{{ catchpy_compat_mode | default('false') }}"

# database creds
CATCHPY_DB_NAME="{{ catchpy_db_name | default('catchpy') }}"
CATCHPY_DB_USER="{{ catchpy_db_user | default('catchpy') }}"
CATCHPY_DB_PASSWORD="{{ catchpy_db_password | default('catchpy') }}"
CATCHPY_DB_HOST="{{ catchpy_db_host | default('localhost') }}"
CATCHPY_DB_PORT="{{ catchpy_db_port | default('5432') }}"
